<% provide(:title, 'About') %>
<div class="container container-medium" id="about-page">
    <div class="row">
        <h3 class="profile-label"><strong>Our Values</strong></h3>
            <!-- <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-content text-center">
                        <h4><strong>Your success is our success</strong></h4> We are willing to listen and build a better community based on your feedbacks.
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-content text-center"><h1><strong>Respect</strong></h1><h4>We believe mutual respect between tradies is mandatory for successful trades. </h4></div>
                </div>
            </div> 
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-content text-center"> <h1><strong>Transparency</strong></h1> <h4>We do not have hidden charges against you: we only charge you the <strong><i><a href="#" data-toggle="modal" data-target="#app-fee-modal">Tradies App Fee</a></i></strong>. We enforce transparency among every item and transaction at Tradies. </h4></div>
                    <%= render 'shared/tradies_app_fee'%>
                </div>
            </div> -->
        </div>
        <h3 class="profile-label"><strong>Our Team</strong></h3>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-content text-center"><h3>TBD</h3></div>
            </div>
        </div>
    </div>
</div>
<script>
  $('#about-page').addClass('animated fadeIn');
</script>
