
	
	<div class="container container-small">
		<h1 class="text-center"><strong>Tradies Privacy </strong></h1>
		<p><i>This policy details how a user’s stored data is used when accessing the websites and services by Tradies, Inc., a Delaware corporation, and its affiliates (collectively, "we," "us," "our," or the "Company") handle your personal information when you use the Company's website, https://www.tradies.us. If the user’s information is to be updated, Tradies will post notices and/or obtain your consent as required by law, last updated January 14th, 2017.</i></p>
		<h4><strong>1. Protecting your privacy</strong></h4>
		<ul>
			<li>We take precautions to prevent unauthorized access or exploitation of the user’s data.</li>
			<li>We do not run ads, other than the classifieds posted by our users.</li>
			<li>We do not share user's data with third parties for marketing purposes.</li>
			<li>We do not engage in cross-marketing or link-referral programs.</li>
			<li>We do not employ tracking devices for marketing purposes.</li>
			<li>We do not send users unsolicited communications for marketing purposes.</li>
			<li>We do not engage in affiliate marketing (and prohibit it on Tradies).</li>
			<li>We do not store user's credit card information.</li>
			<li>We do provide our own messaging feature to reduce unwanted email.</li>
			<li>Please review privacy policies of any third party sites linked to from Tradies.</li>
		</ul>
		<h4><strong>2. Data we use to provide/improve our services and/or combat fraud/abuse</strong></h4>
		<ul>
			<li>data you post on or send via Tradies, and/or send us directly or via other sites</li>
			<li>Your WePay account ID, which will be linked to your WePay account via a security protocol (e.g. SSL).</li>
			<li>data you submit or provide (e.g. name, address, email, WePay account).</li>
			<li>web log data (e.g. web pages viewed, access times, IP address, HTTP headers).</li>
			<li>data collected via cookies (e.g. search data).</li>
			<li>data about your device(s) (e.g. screen size, DOM local storage, plugins).</li>
			<li>data from 3rd parties (e.g. phone type, geo-location via IP address).</li>
		</ul>
		<h4><strong>3. Data we store</strong></h4>
		<ul>
			<li>We retain data as needed for business purposes and/or as required by law.</li>
			<li>We work hard to store data securely, but Tradies can make no guarantees.</li>
			<li>You may access and update certain data about you via your account login.</li>
		</ul>
		<h4><strong>4. Circumstances in which we may disclose user data</strong></h4>
		<ul>
			<li>to vendors and service providers (e.g. payment processors) working on our behalf.</li>
			<li>to respond to subpoenas, search warrants, court orders, or other legal process.</li>
			<li>to protect our rights, property, or safety, or that of users of Tradies or the general public.</li>
			<li>Obtaining the user’s consent (e.g. if you authorize us to share data with other users).</li>
			<li>in connection with a merger, bankruptcy, or sale/transfer of assets.</li>
			<li>in aggregate/summary form, where it cannot reasonably be used to identify the user.</li>
		</ul>
		<h4>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 415-890-4097 or via contact[at]tradies[dot]us</h4>
	</div>
