/* line 5, /Users/StephenLee/sites/tradies/app/assets/stylesheets/account_activations.scss */
h1 {
  font-weight: bold;
  font-style: italic;
  color: #001B36;
}

/* line 10, /Users/StephenLee/sites/tradies/app/assets/stylesheets/account_activations.scss */
p {
  color: #001B36;
}
