
<div class="col-xs-12 col-sm-6">
	<div class="center">
		<%= gravatar_for_responsive(@user) %>
	</div>
</div>
<div class="col-xs-12 col-sm-6">
	<h4><%= @user.name %></h4>
	<%= render 'users/user_info_table', user: @user%>
	<hr>
</div>
<div class="col-xs-12">
	<h3 class="text-center">
		<%= link_to @user do %>
			view more stuff 
			<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
		<% end %>
	</h3>
</div>
