<div class="modal fade" id="why-wepay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id = "finished" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title text-center" id="myModalLabel">Why WePay?</h3>
      </div>
      <div class="modal-body">
        <p>In order to create posts, it is necessary to create a WePay account for secure transactions between you and the buyers. All the funds will go to this account.</p>
        <p></p>
      </div>
      <script> $('#why-wepay').appendTo("body")</script>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-md" id = "finished"  data-dismiss="modal">
            Sounds good!
        </button>
      </div>
    </div>
  </div>
</div>