<% provide(:buttom_text, 'edit image')%>
<div class="container container-medium">
  	<div class="col-xs-8 col-xs-offset-2"> 
  		<div class="text-center">
			<%= render 'form', post_attachment: @post_attachment %>
		</div>
	</div>
</div>
