<div class="container">
<h2 class="pull-left"><strong><%= link_to('back', @back_button || root_path) %></strong></h2>
</br>
</br>
</br>
<%= image_tag @post_attachment.avatar if @post_attachment.avatar? %>