<% provide(:title, "Edit post") %>
<% provide(:buttom_text, 'Update post')%>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<h1>Update post</h1>
	<%= render 'shared/edit_post_form'%>
  </div>
</div>